@import "tailwindcss";

/* h1 {
    font-size: 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translete(-50%, -50%);
    text-decoration:underline;
    font-weight: 600;
} */
 h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 800px;

    text-align: center;
    font-size: 100px;
    font-weight: 600;
    text-decoration: underline;

    overflow-wrap: break-word;
    word-break: break-word;
    white-space: nowrap;
}